#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --with kf5

RECOMMENDED_PHONON4_QT5_BACKEND := phonon4qt5-backend-vlc

override_dh_install:
	rm -v debian/tmp/usr/include/phonon4qt5/KDE/Phonon/AudioDevice
	rm -v debian/tmp/usr/include/phonon4qt5/KDE/Phonon/AudioDeviceEnumerator
	dh_install

override_dh_missing:
	dh_missing --fail-missing

# shlibs is needed for library-packages.mk (strict shlibs) to work
override_dh_makeshlibs:
	dh_makeshlibs -plibphonon4qt5-4 -V'libphonon4qt5-4 (>= $(DEB_VERSION_EPOCH_UPSTREAM)), phonon4qt5'
	dh_makeshlibs -V --remaining-packages

override_dh_shlibdeps:
	dh_shlibdeps -- -xphonon4qt5

override_dh_gencontrol:
	# Expand some variables in maintainer scripts and debconf templates
	@for f in debian/*/DEBIAN/post* \
	          debian/*/DEBIAN/pre* \
	          debian/*/DEBIAN/config \
	          debian/*/DEBIAN/templates; do \
	    if [ -f "$$f" ]; then \
	        cmd="awk -f debian/expand_vars.awk -v recommended4qt5_backend='$(RECOMMENDED_PHONON4_QT5_BACKEND)' -- $$f > $$f.tmp && cat $$f.tmp >| $$f && rm -f $$f.tmp"; \
	        echo "$$cmd"; eval "$$cmd"; \
	    fi; \
	done
	if [ -d debian/phonon4qt5-backend-null ]; then \
	    sed -i 's/\$${recommended4qt5_backend}/$(RECOMMENDED_PHONON4_QT5_BACKEND)/g' \
	        debian/phonon4qt5-backend-null/usr/share/doc/phonon4qt5-backend-null/README.Debian; \
	fi
	dh_gencontrol -- -Vphonon:Recommended-Backend-qt5=$(RECOMMENDED_PHONON4_QT5_BACKEND)
